In [3]:
# this code is generated by the Domino Code Assist toolbar button
import domino_code_assist as dca
dca.init()

Cannot show ipywidgets in text

In [4]:
import domino_code_assist

domino_code_assist.__version__

'1.0.7'

In [7]:
## DCA edit snippet: /mnt/code/snippets/adding_numbers.py
def new_snippet(num1, num2):
    # this is a cool new snippet that adds 2 numbers
    return num1+num2

In [8]:
print(new_snippet(1,2))

3

In [10]:
# author: Maarten Breddels
# date: Wed 8 Sep 2022
# requires pandas:
#  pip install pandas
import numpy as np
import pandas as pd

N = 100
x = np.arange(N)
y = x**2
z = np.random.random(N)
animal = np.random.choice(["cat", "dog", "cat", "dog"], size=N)

df = pd.DataFrame(
    {
        "x": x,
        "y": y,
        "z": z,
        "animal": animal,
    }
)
df

     x     y         z animal
0    0     0  0.727651    dog
1    1     1  0.019444    dog
2    2     4  0.551556    cat
3    3     9  0.519598    cat
4    4    16  0.802484    dog
..  ..   ...       ...    ...
95  95  9025  0.178810    dog
96  96  9216  0.845666    dog
97  97  9409  0.401109    cat
98  98  9604  0.781823    dog
99  99  9801  0.445737    cat

[100 rows x 4 columns]

In [ ]:
## DCA edit snippet: /mnt/code/snippets/subtracting_numbers.py

def subtract_numbers(num1, num2):
    return num1-num2